*{
    margin:0;
    box-sizing: border-box;
    padding:0;

}
.grandparents{
    padding:70px;
    background-color: black;
}
.parents{
    padding:50px;
    background-color: red;
}
.child{
    padding:30px;
    background-color: green;
}