*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
        width:100vw;
    height:100vh;
    display: flex;
      align-items: center;
     justify-content: center;
     background: #000;

}

.box{

    width:250px;
    height:150px;
    background-color: rgba(232, 57, 57, 0.929);
    border:2px solid skyblue;
    transition: all linear 0.7s;
   
}
.btn{
    display: flex;
    /* background-color: rgb(0, 136, 255); */
    justify-content: center;
    align-items: center;
     margin:40px 20px;
}
.expand{
padding:5px  10px;
margin:10px ;
cursor: pointer;
 /* transform: scale(0.8); */
   background-color: rgb(130, 242, 10);
 color: white;
 transition: all linear 0.4s;
border: none;
}
.expand:hover{
     background-color: rgb(52, 52, 52);
 color: white;
}
.shrink{
background-color: rgb(130, 242, 10);
 color: white;
padding: 5px 10px;
margin:10px ;
border: none;
cursor: pointer;
 /* transform: scale(0.8); */
 transition: all linear 0.6s;
}
.shrink:hover{
     background-color: rgb(52, 52, 52);
 color: white;
}